<div class="container">
    <div class="row">
        <div class="col-md-12 ps-4 pt-5 shadow-effect">
            <h1 class="text-start text-theme-primary fs-1"><b>Methods for Businesses</b></h1>
        </div>
    </div>

    <button mat-raised-button (click)="openAverageIncomeDialog()">Average Income of Business</button>
    <button mat-raised-button (click)="openUpdateMinWageDialog()">Update Minimum Wage of Business</button>
    <button mat-raised-button (click)="openEmployeesDialog()">List Employees in a Business</button>
    <button mat-raised-button (click)="openBusinessRecordsDialog()">List Records of a Business</button>
</div>