<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item ms-3"><a routerLink="/person" class="nav-link">Citizens</a></li>
                <li class="nav-item ms-3"><a routerLink="/household" class="nav-link">Households</a></li>
                <li class="nav-item ms-3"><a routerLink="/business" class="nav-link">Businesses</a></li>
                <li class="nav-item ms-3"><a routerLink="/property" class="nav-link">Properties</a></li>
            </ul>
        </div>
    </div>
</nav>