<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">

                <div class="site-logo">Smallville Census</div>
                <div>
                    <!-- footer menu -->
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a href="https://youtu.be/9GElj3l14mc?si=pQVoe0fRyBoDGFmX"
                                class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="https://youtu.be/9GElj3l14mc?si=pQVoe0fRyBoDGFmX"
                                class="nav-link">About</a></li>
                        <li class="nav-item"><a href="https://youtu.be/9GElj3l14mc?si=pQVoe0fRyBoDGFmX"
                                class="nav-link">Terms & Conditions</a></li>
                        <li class="nav-item"><a href="https://youtu.be/9GElj3l14mc?si=pQVoe0fRyBoDGFmX"
                                class="nav-link">Contact</a></li>
                    </ul>
                </div>
                <p class="mb-2 mt-2">Copyright © 2025 BIG Information Group</p>
                <p class="mb-2 mt-2">All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>