/* main CSS file */
/* changes apply globally */

/* imports */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

/* css pseudo-class - root */
/* useful for declaring global css variables */
/* variable declaration with double hyphen (--) */
/* !important overrides any other styles on the element */
:root {
    --primary-color: #02394A;
    --secondary-color: #95B2B0;
    --body-text-color: #02394A;
    --navbar-footer-color: #95B2B0;
}

/* note: we use the bootstrap defaults for danger, success, info, and warning */

/* body styles */
/* body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: var(--body-text-color);
    display: contents;
} */

.site-logo {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.nav-link {
    color: var(--primary-color);
}

/*

.shadow-effect {
    border: none;
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}
*/
.bg-theme {
    background-color: var(--primary-color);
}

.bg-secondary-theme {
    background-color: var(--secondary-color);
}

.text-theme-primary {
    color: var(--primary-color);
}

/*
input[type=text],
input[type=email] {
    height: 60px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
}

.btn-theme {
    height: 58px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
    color: white;
} */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    margin: 1em;
}

mat-form-field {
    padding: 8px;
}